<div class="main-content">
  <div class="name">
    <div class="name-bg">
    <!--{{username}}-->
    <!--{{time}}-->
    </div>
   </div>
   <div class="tasks">
     <p>Today's tasks</p>
     <div class="tasks-bg">
       <app-create-new-buton></app-create-new-buton>
       <!--create new button component-->
       <!--ngFor s to-do listami-->
     </div>
   </div>
   <div class="progess">
     <p>Your progress</p>
     <div class="progress-bg">
       <!--% uspesnost-->
       <div class="kruh">
         <span class="napis_v_kruhu">100%</span>
       </div>
       <div class="kruh">
         <span class="napis_v_kruhu">100%</span>
       </div>
       <div class="kruh">
         <span class="napis_v_kruhu">100%</span>
       </div>
     </div>
   </div>
 <!-- calendar bude komponent, je na to kniznica angular/calendar -->
  <div class="calendar"></div>

</div>

