.tasks{
  max-width: 40rem;
  width: 100%;
  height: 32rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  float: left;
  margin-right: 2%;
}
.tasks p{
  width: 100%;
  font-size: 24px;
}
.tasks-bg{
  background: #FFF;
  border-radius: 10%;
  //max-width: 28rem;
  width: 100%;
  height: 28rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
app-show-list{
  width: 100%;
}
.progess{
  //max-width: 30rem;
  //width: 100%;
  min-width: min-content;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.progess p {
  width: 380px;
  font-size: 24px;
}
.progress-bg{
  background: #FFF;
  border-radius: 10% / 26%;
  //max-width: 22rem;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
app-progress-circle{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
