<app-name-time></app-name-time>
   <div class="tasks">
     <p>Today's tasks</p>
     <div class="tasks-bg">
       <app-create-new-buton></app-create-new-buton>
         <app-show-list *ngFor=" let list of lists" [TODOlistname]="list.TODOlistname"></app-show-list>

       <!--ngFor s to-do listami-->
     </div>
   </div>
   <div class="progess">
     <p>Your progress</p>
     <div class="progress-bg">
       <!--% uspesnost-->
         <app-progress-circle [percentage]="percentage"></app-progress-circle>
         <app-progress-circle [percentage]="percentage"></app-progress-circle>
         <app-progress-circle [percentage]="percentage"></app-progress-circle>
     </div>
   </div>
 <!-- calendar bude komponent, je na to kniznica angular/calendar -->
  <div class="calendar"></div>


