<div class="title">
    <input type="text" [(ngModel)]="newListName" placeholder="New To Do list" >
    <span class="pi pi-trash" (click)="deleteList()"></span>
</div>
<div class="content">
    <div class="items">
        <div>
            <div *ngIf="items?.length === 0">
                <p>List is empty.</p>
            </div>
            <div *ngIf="items && items.length > 0">
                <app-item *ngFor="let item of items, let i = index" [item]="item" [isChecked]="isItemChecked(item.id ? item.id : '')" (itemChecked)="onItemChecked($event)" (click)="deleteItem(item)">
                </app-item>
            </div>
            <div>
<!--                Počet začiarknutých položiek: {{ checkedItemCount }}-->
            </div>
        </div>
        <input type="text" [(ngModel)]="newItemName" (keyup.enter)="addItem()">
    </div>
    <div class="notification bg-secondary-light">
        <div class="setup">
            <p>Add notification</p>
            <div class="card flex justify-content-center">
                <form [formGroup]="deadline">
                    <p-calendar formControlName="date" dateFormat="dd.mm.yy"></p-calendar>
                </form>
            </div>
        </div>
        <div class="setup">
            <p><b>List share with:</b></p>
            <p *ngFor="let share of listOfShare, let i = index">{{share}}<span class="pi pi-trash" (click)="deleteShare(i)"></span></p>
        </div>
        <div class="sharing">
            <p-overlayPanel #op>
                <ng-template pTemplate="content">
                    <input type="email" [(ngModel)]="share" placeholder="Enter e-mail" (keyup.enter)="shareList(share)">
                </ng-template>
            </p-overlayPanel>
            <p-button styleClass="p-button-help" (click)="op.toggle($event)" icon="pi pi-user-plus" label="Share" [raised]="true" ></p-button>
        </div>
        <div class="setup">
            <button type="submit" (click)="updateList()">Update list</button>
        </div>
    </div>
</div>


