.main-container{
  background: #C184FE !important;
}

.title{
  width: 100%;
  font-size: 3.5rem;
}
.content{
  display: flex;
  justify-content: space-between;
}
app-show-list{
  width: 100%;
}
.side{
  width: 35%;
  height: 32rem;
  border-radius: 16%/ 10%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

