.main-container{
  background: #C184FE !important;
}

.title{
  width: 100%;
  font-size: 3.5rem;
}
.content{
  display: flex;
  //flex-direction: column;
  width: 70%;
  padding: 20px 0 0 0;
  margin: 0 auto;
}



