.circle{
  max-height: 6rem;
  height: 100%;
  max-width: 6rem;
  width: 100%;
  border: 5px solid;
  border-radius: 100%;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.percentage{
  margin: 0 auto;
}
