<nav>
  <app-nav-item *ngFor="let navigation of nav" [routerLink]="navigation.routerLink" [nazov]="navigation.nazov"></app-nav-item>
  <hr class="p-divider">
  <app-nav-item *ngFor="let task of tasks" [routerLink]="task.routerLink" [nazov]="task.nazov"></app-nav-item>
  <hr class="p-divider">
  <app-nav-item *ngFor="let usernavigation of usernav" [routerLink]="usernavigation.routerLink" [nazov]="usernavigation.nazov"></app-nav-item>
  <button type="button" class="logout" (click)="logoutSubmit()"><span class="pi pi-sign-out"></span> Log Out</button>
</nav>
