<div class="main-content">
  <div class="name">
    <div class="name-bg">
      <!--{{username}}-->
      <!--{{time}}-->
    </div>
  </div>
  <div class="data">
    <form>
      <label for="name">Username: </label><br>
      <input id="name" type="text" formControlName="" value="">
      <br>
      <label for="pswd">Password: </label><br>
      <input id="pswd" type="password" formControlName="" value="">
      <br>
      <label for="email">Email: </label><br>
      <input id="email" type="email" formControlName="" value="">
      <br>
    </form>
  </div>
  <div class="color-theme">
    <p>Color theme</p>
    <div class="color-theme-bg">
      <!--% uspesnost-->
      <div class="kruh"></div>
      <div class="kruh"></div>
      <div class="kruh"></div>
      <div class="kruh"></div>
      <div class="kruh"></div>
      <div class="kruh"></div>
      <div class="kruh"></div>
      <div class="kruh"></div>
    </div>
  </div>
</div>

