.main-content{
  background: #E2DEE5;
  border: #E2DEE5 10px;
  border-radius: 8% / 10%;
  width: 1160px;
  height: 95%;
  margin: 0 auto;
}
.userdata{
  max-width: 40rem;
  width: 100%;
  height: 32rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  float: left;
  margin-right: 2%;
}
.userdata div{
  background: #FFF;
  border-radius: 2% / 20%;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.color-theme{
  min-width: min-content;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.color-theme p {
  width: 380px;
  font-size: 24px;
}
.color-theme-bg{
  background: #FFF;
  border: #FFF 10px;
  border-radius: 10% / 20%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

