.tasks{
  max-width: 40rem;
  width: 100%;
  max-height:33rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  float: left;
  margin-right: 2%;
}
.tasks p, .progess p, .calendar p{
  width: 100%;
  font-size: 24px;
  margin: 2% 0;
}
.tasks-bg{
  border-radius: 10%;
  //max-width: 28rem;
  width: 100%;
  max-height: 29rem;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}
app-list{
  width: 100%;
}
.progess{
  //max-width: 30rem;
  //width: 100%;
  min-width: min-content;
  max-width: 20rem;
  height: 13rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.progress-bg{
  border-radius: 10% / 26%;
  //max-width: 22rem;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
app-progress-circle{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calendar{
  //max-width: 30rem;
  //width: 100%;
  min-width: min-content;
  max-width: 20rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
