
.list{
  //max-width: 24rem;
  min-width: 12rem;
  height: 2rem;
  border-radius: 2% / 20%;
  background: #C184FE;
  margin: 1rem 0;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
