.main-container{
  background: #C184FE !important;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title p{
  width: 75%;
  font-size: 3.5rem;
  color: #fff;
  float: left;
}
img{
  max-width: 25%;
  //clear: both;
}
.content{
  display: flex;
  justify-content: space-between;
}
.items{
  width: 60%;
  height: 36rem;
  display: flex;flex-direction: column;
  justify-content: space-between;
}
.items input{
  border: none;
  border-radius: 4%/ 30%;
  background: #FFFFFF80;
  padding: 1rem;
}
.notification{
  width: 35%;
  height: 36rem;
  background: white;
  border-radius: 16%/ 10%;
  padding: 1rem;
}
.sharing{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sharing p{
  margin-left: 1rem;
  font-size: 24px;
}

