.main-content{
  background: #C184FE;
  border: #C184FE 10px;
  border-radius: 8% / 10%;
  width: 1160px;
  height: 95%;
  margin: 0 auto;
}
.new-list{
  width: 1160px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.new-list p{
  width: 1030px;
  font-size: 56px;
  color: #fff;
}
.content{
  width: 1160px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}
.items{
  background: #E2DEE5;
  width: 750px;
  height: 560px;
  margin: 0 auto;
  float: left;
}
.notification{
  background: #FFFFFF;
  border: #FFFFFF 10px;
  border-radius: 15% / 10%;
  width: 300px;
  height: 560px;
  margin: 0 auto;

}

