.item{
  max-width: 64rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C184FE;
  border-radius: 2% / 24%;
  margin: 1rem 0;
}
mat-divider{
  border-top-color: white;
}
