<app-name-time></app-name-time>
<div class="userdata">
    <p>Username</p>
    <div class="username">
        {{user?.username}}
    </div>
    <p>Password</p>
    <div class="userpwd">
        {{user?.password}}
    </div>
    <p>E-mail</p>
    <div class="usermail">
        {{user?.email}}
    </div>
</div>
<div class="color-theme">
    <p> Color theme</p>
    <div class="color-theme-bg">
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
    </div>
</div>
